In [1]:
import pandas as pd
import json

In [1]:
file_2021 = open('wnba_betting_data/2021/player_game_stats_2021.csv')
file_2022 = open('wnba_betting_data/2022/player_game_stats_2022.csv')
file_2023 = open('wnba_betting_data/2023/player_game_stats_2023.csv')
file_2024 = open('wnba_betting_data/2024/player_game_stats_2024.csv')

In [3]:
df_2021 = pd.read_csv(file_2021)
df_2022 = pd.read_csv(file_2022)
df_2023 = pd.read_csv(file_2023)
df_2024 = pd.read_csv(file_2024)

## Sumary of 3 point statistics for the 2021 season
**Calculate:**
- Average 3 points made -> in total | Starters only | Non-Starters
- Average 3 points attempted -> in total | Starters only | Non-Starters

- Average time played for starter -> Starters only
- Average time played for non-starters -> Non Starters only

In [4]:
# average 3 points made -> No category
print(df_2021['three_points_made'].mean())

# average 3 points attempted -> No Category
print(df_2021['three_points_att'].mean())

0.6219269102990034
1.8110741971207087

In [5]:
# A better format for stuff above
df_2021.describe()

       three_points_made  three_points_att       points
count        4515.000000       4515.000000  4515.000000
mean            0.621927          1.811074     6.899668
std             1.068296          2.344020     7.327571
min             0.000000          0.000000     0.000000
25%             0.000000          0.000000     0.000000
50%             0.000000          1.000000     5.000000
75%             1.000000          3.000000    11.000000
max             7.000000         14.000000    37.000000

In [6]:
df_2022.describe()

       three_points_made  three_points_att       points
count        5064.000000        5064.00000  5064.000000
mean            0.667457           1.93049     7.066746
std             1.108030           2.42035     7.240643
min             0.000000           0.00000     0.000000
25%             0.000000           0.00000     0.000000
50%             0.000000           1.00000     5.000000
75%             1.000000           3.00000    12.000000
max             8.000000          17.00000    38.000000

In [7]:
df_2023.describe()

       three_points_made  three_points_att       points
count        5732.000000       5732.000000  5732.000000
mean            0.647069          1.868109     6.946615
std             1.142524          2.472402     7.768300
min             0.000000          0.000000     0.000000
25%             0.000000          0.000000     0.000000
50%             0.000000          1.000000     4.500000
75%             1.000000          3.000000    11.000000
max            10.000000         21.000000    53.000000

In [8]:
df_2024.describe()

       three_points_made  three_points_att       points
count        5661.000000       5661.000000  5661.000000
mean            0.659071          1.948596     6.964494
std             1.168038          2.570629     7.686755
min             0.000000          0.000000     0.000000
25%             0.000000          0.000000     0.000000
50%             0.000000          1.000000     4.000000
75%             1.000000          3.000000    12.000000
max             9.000000         17.000000    42.000000

#### Normal boolean indexing to find 3 points made and attempted:

In [9]:
print(df_2021[df_2021['starter'] == True]['three_points_made'].mean())
print(df_2021[df_2021['starter'] == True]['three_points_att'].mean())

print('\n-----------------\n')

print(df_2021[df_2021['starter'] == False]['three_points_made'].mean())
print(df_2021[df_2021['starter'] == False]['three_points_att'].mean())

1.0316062176165803
2.981865284974093

-----------------

0.3160541586073501
0.9369439071566731

Starters are close to 3x better than the rest -> A lot

## Different method using groupy for each year

In [56]:
print(df_2021.groupby('starter')['three_points_made'].mean())
print('\n-----------------\n')
print(df_2021.groupby('starter')['three_points_att'].mean())
print('\n-----------------\n')
print(df_2021.groupby('starter')['three_points_att'].describe())

starter
False    0.316054
True     1.031606
Name: three_points_made, dtype: float64

-----------------

starter
False    0.936944
True     2.981865
Name: three_points_att, dtype: float64

-----------------

          count      mean       std  min  25%  50%  75%   max
starter
False    2585.0  0.936944  1.618957  0.0  0.0  0.0  1.0  12.0
True     1930.0  2.981865  2.636464  0.0  1.0  3.0  5.0  14.0

In [11]:
print(df_2022.groupby('starter')['three_points_made'].mean())
print('\n-----------------\n')
print(df_2022.groupby('starter')['three_points_att'].mean())

starter
False    0.311334
True     1.142396
Name: three_points_made, dtype: float64

-----------------

starter
False    0.937111
True     3.255300
Name: three_points_att, dtype: float64

In [ ]:
print(df_2023.groupby('starter')['three_points_made'].mean())
print('\n-----------------\n')
print(df_2023.groupby('starter')['three_points_att'].mean())

starter
False    0.272509
True     1.167083
Name: three_points_made, dtype: float64

-----------------

starter
False    0.843637
True     3.290417
Name: three_points_att, dtype: float64

In [58]:
print(df_2024.groupby('starter')['three_points_made'].mean())
print('\n-----------------\n')
print(df_2024.groupby('starter')['three_points_att'].mean())
print('\n-----------------\n')
print(df_2024.groupby('starter')['three_points_att'].describe())

starter
False    0.276530
True     1.175104
Name: three_points_made, dtype: float64

-----------------

starter
False    0.85020
True     3.43029
Name: three_points_att, dtype: float64

-----------------

          count     mean       std  min  25%  50%  75%   max
starter
False    3251.0  0.85020  1.467184  0.0  0.0  0.0  1.0  12.0
True     2410.0  3.43029  2.966031  0.0  1.0  3.0  5.0  17.0

In [14]:
df_2021['minutes'].dtype

dtype('O')

## Convert time from string to float to understand how long starters play compared to normal players

In [15]:
def time_convert(time_str):
    minutes, seconds = map(float, time_str.split(':'))
    time =  minutes + seconds/60
    return round(time, 2)

In [16]:
df_2021['minutes'].apply(time_convert)

0       14.37
1       28.70
2        0.00
3       36.92
4        8.65
        ...
4510    22.10
4511     0.00
4512    37.80
4513     0.00
4514    34.70
Name: minutes, Length: 4515, dtype: float64

In [17]:
# How much time did a starter play?
df_2021[df_2021['starter'] == True]['minutes'].apply(time_convert).mean()

np.float64(28.331398963730567)

In [18]:
# How much time did a non-starter play?
df_2021[df_2021['starter'] == False]['minutes'].apply(time_convert).mean()

np.float64(8.960255319148937)

### Apply groupby function with lambda to do this faster for all years
- The lambda function needs an apply because the groupby function gives the values in groups
- The argument x in the lambda function takes each group as a series and applies the funtion on each group -> in this case 'True' or 'False'

In [19]:
df_2021.groupby('starter')['minutes'].apply(lambda x : x.apply(time_convert).mean())

starter
False     8.960255
True     28.331399
Name: minutes, dtype: float64

In [20]:
df_2022.groupby('starter')['minutes'].apply(lambda x : x.apply(time_convert).mean())

starter
False     9.104036
True     28.130594
Name: minutes, dtype: float64

In [21]:
df_2023.groupby('starter')['minutes'].apply(lambda x : x.apply(time_convert).mean())

starter
False     8.059556
True     29.014171
Name: minutes, dtype: float64

In [22]:
df_2024.groupby('starter')['minutes'].apply(lambda x : x.apply(time_convert).mean())

starter
False     8.239357
True     29.089340
Name: minutes, dtype: float64

#### From this we can tell that the starter players get 3x more time and hence more opportunities

## Plot graphs for visual representations
Graphs to see visually what's going on
- Starters and their time played
- Starters and their 3 points made and attempted
- Teams and their 3PAs and 3PMs
- Create new CSVs with position and add it

### Starters & Time Played
- Get the number of times a player has been a starter and their stats during those games

In [151]:
# Gets the number of times player has been a starter
with pd.option_context('display.max_rows', None):
    print(df_2021.groupby('player_name')['starter'].mean().sort_values(ascending=False))

player_name
A'ja Wilson                 1.000000
Arike Ogunbowale            1.000000
Kelsey Mitchell             1.000000
Kia Nurse                   1.000000
Jonquel Jones               1.000000
Jackie Young                1.000000
Erica Wheeler               1.000000
Elizabeth Williams          1.000000
DeWanna Bonner              1.000000
Kayla McBride               1.000000
Riquna Williams             1.000000
Brianna Turner              1.000000
Courtney Vandersloot        1.000000
Chelsea Gray                0.969697
Kahleah Copper              0.969697
Jewell Loyd                 0.969697
Betnijah Laney              0.969697
Courtney Williams           0.969697
Skylar Diggins-Smith        0.969697
Brionna Jones               0.969697
Jasmine Thomas              0.967742
Sylvia Fowles               0.939394
Sue Bird                    0.939394
Brittney Griner             0.939394
Napheesa Collier            0.935484
Mercedes Russell            0.933333
Ariel Atkins                0.909091
Briann January              0.906250
Michaela Onyenwere          0.906250
Breanna Stewart             0.878788
Moriah Jefferson            0.875000
Sami Whitcomb               0.875000
Natasha Cloud               0.843750
Amanda Zahui B              0.843750
Katie Lou Samuelson         0.827586
Tina Charles                0.818182
Sabrina Ionescu             0.812500
Kayla Thornton              0.781250
Tiffany Mitchell            0.781250
Danielle Robinson           0.750000
Liz Cambage                 0.727273
Candace Parker              0.727273
Teaira McCowan              0.718750
Diamond DeShields           0.687500
Shatori Walker-Kimbrough    0.684211
Odyssey Sims                0.656250
Layshia Clarendon           0.645161
Damiris Dantas              0.625000
Brittney Sykes              0.625000
Kristi Toliver              0.593750
Tiffany Hayes               0.593750
Kylee Shook                 0.593750
Myisha Hines-Allen          0.586207
Stefanie Dolson             0.576923
Charli Collier              0.562500
Jessica Breland             0.562500
Nneka Ogwumike              0.562500
Allisha Gray                0.533333
Nia Coffey                  0.531250
Chennedy Carter             0.523810
Cheyenne Parker             0.500000
Diana Taurasi               0.484848
Satou Sabally               0.451613
Natasha Howard              0.448276
Jantel Lavender             0.437500
Rebecca Allen               0.419355
Te'a Cooper                 0.406250
Leilani Mitchell            0.375000
Theresa Plaisance           0.343750
Bella Alarie                0.343750
Allie Quigley               0.343750
Azurá Stevens               0.343750
Astou Ndour-Fall            0.333333
Crystal Dangerfield         0.312500
Bridget Carleton            0.312500
Crystal Bradford            0.281250
Stephanie Talbot            0.281250
Monique Billings            0.281250
Kiah Stokes                 0.275862
Emma Cannon                 0.260870
Tianna Hawkins              0.250000
Sydney Wiese                0.250000
Lindsay Allen               0.250000
Marina Mabrey               0.250000
Victoria Vivians            0.250000
Megan Walker                0.218750
Aerial Powers               0.218750
Bria Holmes                 0.217391
Candice Dupree              0.206897
Ruthy Hebard                0.187500
Erica McCall                0.187500
Shey Peddy                  0.156250
Shavonte Zellous            0.156250
Natisha Hiedeman            0.156250
Isabelle Harrison           0.156250
Karlie Samuelson            0.130435
Aari McDonald               0.125000
Sophie Cunningham           0.125000
Kaila Charles               0.125000
Tyasha Harris               0.093750
Jordin Canada               0.093750
Chiney Ogwumike             0.093750
Elena Delle Donne           0.093750
Ezi Magbegor                0.093750
Kristine Anigwe             0.076923
Kia Vaughn                  0.068966
Epiphanny Prince            0.066667
Bernadett Hatar             0.064516
Arella Guirantes            0.062500
Megan Gustafson             0.055556
DiJonai Carrington          0.031250
Natalie Achonwa             0.031250
Shyla Heal                  0.000000
Joyner Holmes               0.000000
Aaliyah Wilson              0.000000
Shekinna Stricklen          0.000000
Kiana Williams              0.000000
Bria Hartley                0.000000
Stella Johnson              0.000000
Brittany Boyd-Jones         0.000000
Jillian Alleyne             0.000000
Stephanie Jones             0.000000
Chelsea Dungee              0.000000
Blake Dietrick              0.000000
Stephanie Watts             0.000000
Beatrice Mompremier         0.000000
Awak Kuier                  0.000000
Angel McCoughtry            0.000000
Alyssa Thomas               0.000000
Aleah Goodman               0.000000
Alanna Smith                0.000000
Kennedy Burke               0.000000
Kelsey Plum                 0.000000
Kiara Leslie                0.000000
Rennia Davis                0.000000
Chelsey Perry               0.000000
Haley Gorecki               0.000000
JiSu Park                   0.000000
Lexie Brown                 0.000000
Jessica Shepard             0.000000
Linnae Harper               0.000000
Jazmine Jones               0.000000
Maria Vadeeva               0.000000
Maria Vadeva                0.000000
Jasmine Walker              0.000000
Lauren Cox                  0.000000
Kysre Gondrezick            0.000000
Mikiah Herbert Harrigan     0.000000
Reshanda Gray               0.000000
Jocelyn Willoughby          0.000000
N'dea Jones                 0.000000
DiDi Richards               0.000000
Kalani Brown                0.000000
Destiny Slocum              0.000000
Dearica Hamby               0.000000
Dana Evans                  0.000000
Rachel Banham               0.000000
Cierra Burdick              0.000000
Leaonna Odom                0.000000
Natasha Mack                0.000000
Name: starter, dtype: float64

In [162]:
# Number of times a player gets the starter position out of the times they have played
starter_proportion = df_2021.groupby('player_name')['starter'].mean().to_frame().reset_index()
starter_proportion = starter_proportion.set_axis(['player_name', 'starter_proportion'], axis=1)
starter_proportion

          player_name  starter_proportion
0         A'ja Wilson            1.000000
1      Aaliyah Wilson            0.000000
2       Aari McDonald            0.125000
3       Aerial Powers            0.218750
4        Alanna Smith            0.000000
..                ...                 ...
155     Tiffany Hayes            0.593750
156  Tiffany Mitchell            0.781250
157      Tina Charles            0.818182
158     Tyasha Harris            0.093750
159  Victoria Vivians            0.250000

[160 rows x 2 columns]

In [163]:
# Get bunch of time data for the players when they are starters
df_2021['minutes_converted'] = df_2021['minutes'].apply(time_convert)
time_data_from_starters = df_2021.query('starter == True').groupby('player_name')['minutes_converted'].describe()
time_data_from_starters

,count,mean,std,min,25%,50%,75%,max
player_name,,,,,,,,
A'ja Wilson,33.0,31.448485,6.343340,17.20,26.7800,33.080,35.070,43.30
Aari McDonald,4.0,28.912500,8.077472,18.25,25.1125,30.360,34.160,36.68
Aerial Powers,7.0,26.634286,5.142246,20.12,22.7150,26.670,30.675,32.87
Allie Quigley,11.0,26.937273,5.743680,18.70,22.5500,26.750,31.225,35.23
Allisha Gray,16.0,30.193125,7.412223,9.77,28.9550,32.765,34.715,36.97
...,...,...,...,...,...,...,...,...
Tiffany Hayes,19.0,29.837895,6.048569,15.35,25.9100,32.770,33.900,37.40
Tiffany Mitchell,25.0,27.938000,5.170446,13.38,25.2200,27.650,32.180,36.07
Tina Charles,27.0,33.340741,4.611549,22.73,31.1650,33.880,36.500,42.57
Tyasha Harris,3.0,22.970000,8.958728,16.83,17.8300,18.830,26.040,33.25
Victoria Vivians,8.0,29.332500,9.632738,15.57,19.6150,34.285,36.950,37.92

In [ ]:
# get 3 point data from players when they are starter
display(df_2021.query('starter == True').groupby('player_name')['three_points_made'].describe().sort_values('mean', ascending=False))

                    count      mean       std  min   25%  50%   75%  max
player_name
Marina Mabrey         8.0  2.750000  2.121320  0.0  1.50  3.0  4.00  6.0
Sami Whitcomb        28.0  2.678571  1.700840  0.0  1.00  2.5  3.00  7.0
Arike Ogunbowale     33.0  2.575758  1.250757  0.0  2.00  3.0  3.00  5.0
Diana Taurasi        16.0  2.562500  1.711481  0.0  1.00  2.5  4.00  5.0
Epiphanny Prince      2.0  2.500000  0.707107  2.0  2.25  2.5  2.75  3.0
...                   ...       ...       ...  ...   ...  ...   ...  ...
Elizabeth Williams   32.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
DiJonai Carrington    1.0  0.000000       NaN  0.0  0.00  0.0  0.00  0.0
Candice Dupree        6.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
Kiah Stokes           8.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0
Kia Vaughn            2.0  0.000000  0.000000  0.0  0.00  0.0  0.00  0.0

[112 rows x 8 columns]

In [174]:
# get 3 point data from players when they are starter
display(df_2021.query('starter == True').groupby('player_name')['three_points_att'].describe().sort_values('mean', ascending=False))

                    count      mean       std  min  25%  50%   75%   max
player_name
Diana Taurasi        16.0  7.562500  3.054368  3.0  5.0  7.0  10.0  13.0
Marina Mabrey         8.0  7.000000  3.505098  3.0  4.0  7.5   8.0  14.0
Arike Ogunbowale     33.0  6.757576  2.250421  2.0  5.0  7.0   8.0  12.0
Kelsey Mitchell      32.0  6.531250  2.539804  2.0  5.0  7.0   8.0  13.0
Theresa Plaisance    11.0  6.454545  2.252272  3.0  4.5  7.0   8.0  10.0
...                   ...       ...       ...  ...  ...  ...   ...   ...
Kristine Anigwe       1.0  0.000000       NaN  0.0  0.0  0.0   0.0   0.0
Kiah Stokes           8.0  0.000000  0.000000  0.0  0.0  0.0   0.0   0.0
Elizabeth Williams   32.0  0.000000  0.000000  0.0  0.0  0.0   0.0   0.0
Erica McCall          6.0  0.000000  0.000000  0.0  0.0  0.0   0.0   0.0
Isabelle Harrison     5.0  0.000000  0.000000  0.0  0.0  0.0   0.0   0.0

[112 rows x 8 columns]